.comments-title {
    font-weight: bold;
    color:$color-text;
    font-size: 18px;
    margin: 20px 0px;
    border-bottom: 1px solid $color-text;
}


.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img {
    display: block;
}

.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}


.comment .text p:last-child {
    margin: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

.comments,
.comment {
    position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    
}

.comment .text:before{
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    transform: rotate(45deg);
}

form.newcomments{
    padding: 30px;
    background-color: lighten($color-text, 60%);
    border-radius: 5px;
    margin-bottom: 60px;
}

.center-submit{
    position: relative;
    left: 50%;
    margin-left: -33px;
}