.comments-title {
    font-weight: bold;
    color:$color-text;
    font-size: 18px;
    margin: 20px 0px;
    border-bottom: 1px solid lighten($color-text, 40%);;
}


.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid $color-separator;
    margin: 0 0 1em;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img {
    display: block;
}

.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 1px solid $color-separator;
    border-radius: 5px;
    background: $color-main;
}


.comment .text p:last-child {
    margin: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: $color-text;
}

.comments,
.comment {
    position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    
}

.comment .text:before{
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: $color-separator;
    background: $color-main;
    transform: rotate(45deg);
}

form.newcomments{
    padding: 30px;
    background-color: lighten($color-text, 65%);
    border-radius: 5px;
    margin-bottom: 60px;
    border:1px solid lighten($color-text, 40%);
}

.center-submit{
    position: relative;
    left: 50%;
    margin-left: -33px;
}

.comments-list{
    
    padding-bottom: 100px;

    .ui-status{
        display: none;
    }
    &.empty{
        .ui-status.empty{ 
            display:block
        }
    }
    &.error{
        .ui-status.error{ 
            display:block
        }
    }
    &.loading{
        .ui-status.loading{ 
            display:block
        }
    }
    &.ideal{
        .ui-status.ideal{ 
            display:block
        }
    }
}