.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: $color-footer-background;
    border-top: 3px solid $color-footer-border;
    & p{
        color: $color-footer-text;
        margin: 0 auto;
        line-height: 50px;
    }
}

//boton arrow
#return-to-top {
    position: fixed;
    bottom: 70px;
    right: 20px;
    background: $color-footer-text;
    background: darken($color-footer-text,10%);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
    & i{
        color: $color-main;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        transition: all 0.3s ease;
        &:hover{
            color: $color-main;
            top: 5px;
        }
    }
    &:hover{
        background: darken($color-footer-text,10%);
    }
}
