	//logo
	.navbar-brand {
		padding: 0px;
		& img {
			height: 100%;
			width: 250px;
		}
	} 
	
	//navbar
	nav.navbar.fixed-top.navbar-default {
		border-bottom: 3px solid $color-gold;
		background: transparent;
		margin-bottom: 0px;
	} 
	
	//Formulario
	input.form-control {
		height: 33px;
	}

	.navbar-left .navbar-form {
		padding: 8px 0;
		margin: 0;
	} 
	
	//DISPOSITIVOS "GRANDES".
	@media (min-width: $screen-sm-min) {
		//LOGO CENTRADO
	.navbar-brand {
		&.navbar-brand-centered {
			position: absolute;
			left: 50%;
			margin-left: -125px !important;
		}
	}
		

		//para que el contenido se pegue lo máx. a los margenes para estar alineados con el contenedor de datos
		.container>.navbar-collapse,
		.container>.navbar-header {
			margin-right: -30px !important;
			margin-left: -30px !important;
		}
	} 
	
	//Visualiamos menu minimizado en dispositivos menores de 991px;
	@media (max-width: $screen-md-min) {
		//logo a la izq.
		.navbar-brand {
			&.navbar-brand-centered {
				position: absolute;
				padding-left: 15px;
			}
			} 

		.navbar-collapse.collapse {
			display: none !important;
		}
		.navbar-collapse.collapse.in {
			display: block !important;
		}
		.navbar-header .collapse,
		.navbar-toggle {
			display: block !important;
		}
		.navbar-header {
			float: none;
		}
	}
	
	@media (max-width: $screen_sm_min) {
		//ocultamos en filtro en dispositivos menores a 768	
		#filter-botton {
			display: none;
		}
		.navbar-form {
			margin: 0 5px;
		}
	}
