<div class="comments container">

    <div class="comments-title">
        Comentarios
    </div>

    <!-- Mensaje OK -->
    <div class="alert alert-success" role="alert" id="success_message"><i class="glyphicon glyphicon-thumbs-up"></i> Se ha introducido su comentario correctamente!.</div>

    <!-- Mensaje ERROR -->
    <div class="alert alert-danger" role="alert" id="error_message"><i class="glyphicon glyphicon-exclamation-sign"></i> <strong>Error : </strong> No se ha creado el comentario. Vuelve a intentarlo en otro momento.</div>


    <!-- Formulario Insertar comentario -->
    <form class="newcomments" id="comment-form" novalidate>

        <div class="form-group">
            <label for="nombre" class="col-2 col-form-label">Nombre</label>
            <div class="col-10">
                <input class="form-control" type="text" id="nombre" name="nombre" data-minlength="3" data-error="Debe de contener un mín. de 3 letras"
                    required />
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="apellidos" class="col-2 col-form-label">Apellidos</label>
            <div class="col-10">
                <input class="form-control" type="text" id="apellidos" name="apellidos" required/>
                <div class="help-block with-errors"></div>
            </div>

        </div>
        <div class="form-group">
            <label for="email" class="col-2 col-form-label">Email</label>
            <div class="col-10">
                <input class="form-control" type="email" placeholder="bootstrap@example.com" id="email" data-error="Debe de introducir una dirección de email válida"
                    required>
                <div class="help-block with-errors"></div>
            </div>

        </div>
        <div class="form-group">
            <label for="url_avatar" class="col-2 col-form-label">Avatar</label>
            <div class="col-10">
                <input class="form-control" type="url" placeholder="http://..." id="url_avatar">
                <div class="help-block with-errors"></div>
            </div>

        </div>
        <div class="form-group">
            <label for="mensaje">Mensaje</label>
            <textarea class="form-control" id="mensaje" placeholder="Escribir un comentario" rows="3" data-maxword120 required></textarea>
            <div class="help-block with-errors"></div>
        </div>
        <button type="submit" class="btn center-submit">Enviar</button>
    </form>

    <!-- Listado de comentarios -->
    <section class="comments-list loading" id="comments-list">

        <div class="alert alert-info ui-status empty">
            No hay ningún comentario
        </div>

        <div class="alert alert-danger ui-status error">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Se ha producido un error al recuperar el listado de comentarios
        </div>

        <div class="alert alert-warning ui-status loading">
            <i class="fa fa-refresh fa-spin fa-fw"></i> Cargando comentarios...
        </div>

        <div class="ui-status ideal">

            

        </div>

    </section>

</div>