<header>
	<nav class="navbar navbar-default navbar-fixed-top navbar-style" role="navigation">
		<div class="container-fluid">
			<!-- add header -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
					<span class="sr-only">Menú</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">JC Tunes</a>
			</div>


			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar1">


				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Login</a></li>

					<form class="navbar-form" role="search">
						<div class="input-group">

							<div class="input-group-btn search-panel">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    			<span id="search_concept">Filter by</span> <span class="caret"></span>
                    		</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#contains">Contains</a></li>
									<li><a href="#its_equal">It's equal</a></li>
									<li><a href="#greather_than">Greather than ></a></li>
									<li class="divider"></li>
									<li><a href="#all">Anything</a></li>
								</ul>
							</div>
							<input type="hidden" name="search_param" value="all" id="search_param">

							<input type="text" class="form-control form-search" placeholder="Search">



							<span class="input-group-btn">
							<button type="reset" class="btn btn-default">
								<span class="glyphicon glyphicon-remove">
									<span class="sr-only">Close</span>
							</span>
							</button>
							<button type="submit" class="btn btn-default">
								<span class="fa fa-search">
									<span class="sr-only">Search</span>
								</span>
							</button>
							</span>
						</div>
					</form>
				</ul>
			</div>
	</nav>
</header>