<div class="article-head continer-fluid">
    
    <img class="thumb-detail" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg" alt="Articulo" srcset="">
    <div class="title-detail">
        <h1>International Artist Feature Malaysia</h1>
        <a class="go-article-content"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
    </div>
</div>

<article class="article-content container" id="main-content" data-id="1">

        <div class="description">
                <p class="category"><a>Tecnología</a></p>
                <p>'La Verdad' recorre el epicentro de la 'Xylella silenciosa', que ya afecta a seis localidades del Valle de Guadalest donde se están triturando los árboles. Todos los positivos se han detectado en almendros y entre los afectados hay una murciana propietaria de unos terrenos</p>
                                
        </div>

        <div class="publication-info">
            
            <img class="avatar vertical-align" src="http://www.laverdad.es/comun/img/2014/autor/firmas-538daa9f7c1d9-foto.jpg" alt="Avatar" srcset="">   
            
            <div class="info">
            <div class="autor-info">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <time>25-07-2017 21:04 h</time>
            </div>
            <div class="autor-social">
                <div class="go-comments"><i class="fa fa-comment-o" aria-hidden="true">13</i></div>
                <div class="likes"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
            </div>
            </div>
        </div>

        <p>Dos personas murieron, una de ellas el agresor, y cuatro más resultaron heridas de gravedad al abrir fuego un hombre de 34 años en una discoteca de Constanza (al sur de Alemania), según informaron este domingo fuentes policiales al canal de televisión NTV aunque <strong>por descartando un trasfondo terrorista</strong>.</p>                 
        <p>Las flores blancas, rosas y rojas que conforman una paleta de colores sobre las autovías, se han convertido en corredores verdes para la propagación de la plaga. Valga como ejemplo cómo el equipo de 'La Verdad' se encontró adelfas en varios kilómetros de la A-7 que enlaza Murcia con Alicante, en las salidas de Alcoy, Castalla, Ibi... «Los insectos se van hospedando en buenas condiciones en las plantas de la medianas y se van desplazando». </p>
        <p>En Asaja, su secretario general, <a href="#">Alfonso Gálvez</a>, pide medidas más contundentes: «Si hace falta, que el Ministerio de Agricultura <strong>prohíba la venta de plantas ornamentales porque ponemos en riesgo la viabilidad del sector agrícola</strong>». Las especies de arbolado que podrían verse afectadas por la bacteria en la Región son las 38.000 hectáreas de cítricos; 20.000 de olivos, 72.000 de almendros y 30.500 de viñedo. En el Valle de Guadalest solo hay positivos entre los almendros. «Todos los árboles están contaminados, tienen tonos verdes y ocre, como si le hubiesen dado una llamarada a las hojas», relata sobre el aspecto que presenta su explotación, la cual alberga el segundo foco de ‘Xylella fastidiosa’, localizado en Benimantell, a un kilómetro de <em>El Castell de Guadalest.</em> </p>
        <p>Este agricultor atiende al equipo de 'La Verdad' con la condición de no desvelar su identidad porque <strong>tiene otras parcelas y no quiere que toda su producción se acabe vinculando a la bacteria</strong>. «De esto no se escapa ni Dios, cada día que pasa hay más casos». Este productor acumula otros dos positivos que todavía no se han hecho públicos. «No tengo ganas de contar los árboles afectados».</p> 

        <div class="comments-title">
            Comentarios
        <i class="fa fa-caret-down" aria-hidden="true"></i></div>
        
        <div class="comments">
        
        <!-- Mensaje OK -->
        <div class="alert alert-success" role="alert" id="success_message"><i class="glyphicon glyphicon-thumbs-up"></i> Se ha introducido su comentario correctamente!.</div>

        <!-- Formulario Insertar comentario -->
        <form class="newcomments" id="comment-form">
             
            <div class="form-group">
                <label for="nombre" class="col-2 col-form-label">Nombre</label>
                <div class="col-10">
                    <input class="form-control" type="text" name="nombre" data-minlength="3" data-error="Debe de contener un mín. de 3 letras" required />
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="apellidos" class="col-2 col-form-label">Apellidos</label>
                <div class="col-10">
                    <input class="form-control" type="text" id="apellidos" name="apellidos" required/>
                    <div class="help-block with-errors"></div>
                </div>
                
            </div>
            <div class="form-group">
                <label for="email" class="col-2 col-form-label">Email</label>
                <div class="col-10">
                    <input class="form-control" type="email" placeholder="bootstrap@example.com" id="email" data-error="Debe de introducir una dirección de email válida" required>
                    <div class="help-block with-errors"></div>
                </div>
                
            </div>
            <div class="form-group">
                <label for="url_avatar" class="col-2 col-form-label">Avatar</label>
                <div class="col-10">
                    <input class="form-control" type="url" placeholder="Introduce url avatar" id="url_avatar">
                    <div class="help-block with-errors"></div>
                </div>
                
            </div>
            <div class="form-group">
                <label for="mensaje">Mensaje</label>
                <textarea class="form-control" id="mensaje" placeholder="Escribir un comentario" rows="3" data-maxword120 required></textarea>
                <div class="help-block with-errors"></div>
            </div>
            <button type="submit" class="btn center-submit">Enviar</button>
        </form>

        <!-- Listado de comentarios -->
        <section class="comments-list" id="comments-list">
            <article class="comment">
                 <a class="comment-img" href="#non">
                    <img src="https://cdn-images-1.medium.com/fit/c/100/100/1*BrtNhF4Bmy2_pRNHkIDF2g.jpeg" alt="" width="50" height="50">
                 </a>
                <div class="comment-body">
                    <div class="text">
                    <p>Hello, this is an example from me</p>
                    </div>
                    <p class="attribution">by <a href="#non">Besnik Hetemi</a> at 14:23pm, 4 Dec 2015</p>
                </div>
            </article>
            <article class="comment">
                 <a class="comment-img" href="#non">
                    <img src="https://cdn-images-1.medium.com/fit/c/100/100/1*BrtNhF4Bmy2_pRNHkIDF2g.jpeg" alt="" width="50" height="50">
                 </a>
                <div class="comment-body">
                    <div class="text">
                    <p>Hello, this is an example from me</p>
                    </div>
                    <p class="attribution">by <a href="#non">Besnik Hetemi</a> at 14:23pm, 4 Dec 2015</p>
                </div>
            </article>
            <article class="comment">
                 <a class="comment-img" href="#non">
                    <img src="https://cdn-images-1.medium.com/fit/c/100/100/1*BrtNhF4Bmy2_pRNHkIDF2g.jpeg" alt="" width="50" height="50">
                 </a>
                <div class="comment-body">
                    <div class="text">
                    <p>Hello, this is an example from me</p>
                    </div>
                    <p class="attribution">by <a href="#non">Besnik Hetemi</a> at 14:23pm, 4 Dec 2015</p>
                </div>
            </article>
      
        </section>
        </div>

</article>
