<div class="container">

    <h1 class="title">Últimos post</h1>
    <section class="item-list clearfix">
        
        <!-- Cargamos aqui los articulos mediante js -->

        <div class="text-center">
            <ul class="pagination">
                <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li><a href="?p=1" data-original-title="" title="">1</a></li>
                <li><a href="?p=2" data-original-title="" title="">2</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </div>

    </section>
</div>