<div class="container">

<h1 class="title">Últimos post</h1>
<section class="item-list">

    <article class="col-md-4 col-lg-3" data-id="1">
        <div class="item">

            <img class="thumb" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg" alt="Articulo" srcset="">
            
            <div class="item-info">
                <a href="/item-detail">
                    <h1>International Artist Feature: Malaysia</h1>
                    <p>Welcome to our monthly feature of fantastic tutorial results created by you, the Envato Tuts+ community! </p>
                </a>
                
                <div class="autor vertical-align">
                    <img class="avatar" src="https://cdn-images-1.medium.com/fit/c/40/40/1*1T1qxjpWS-0lWwVvPMzYSQ.jpeg" alt="Avatar" srcset="">
                    <p>Hoddie Allen</p>
                </div>

                <div class="info-interations"> 
                    <div class="vertical-align pull-right">
                        <div class="comments"><i class="fa fa-comment-o" aria-hidden="true">13</i></div>
                        <div class="like"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                    </div>
                    <div class="vertical-align">
                        <div class="publication_date"><i class="fa fa-calendar" aria-hidden="true"></i>Jul 21</div>
                    </div>
                </div>
                 
            </div>
            
        </div>
    </article>
    
    <article class="col-md-4 col-lg-3" data-id="1">
        <div class="item">

            <img class="thumb" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg" alt="Articulo" srcset="">
            
            <div class="item-info">
                <a href="/item-detail">
                    <h1>International Artist Feature: Malaysia</h1>
                    <p>Welcome to our monthly feature of fantastic tutorial results created by you, the Envato Tuts+ community! </p>
                </a>
                
                <div class="autor vertical-align">
                    <img class="avatar" src="https://cdn-images-1.medium.com/fit/c/40/40/1*1T1qxjpWS-0lWwVvPMzYSQ.jpeg" alt="Avatar" srcset="">
                    <p>Hoddie Allen</p>
                </div>

                <div class="info-interations"> 
                    <div class="vertical-align pull-right">
                        <div class="comments"><i class="fa fa-comment-o" aria-hidden="true">13</i></div>
                        <div class="like"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                    </div>
                    <div class="vertical-align">
                        <div class="publication_date"><i class="fa fa-calendar" aria-hidden="true"></i>Jul 21</div>
                    </div>
                </div>
                 
            </div>
            
        </div>
    </article>

    <article class="col-md-4 col-lg-3" data-id="1">
        <div class="item">

            <img class="thumb" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg" alt="Articulo" srcset="">
            
            <div class="item-info">
                <a href="/item-detail">
                    <h1>International Artist Feature: Malaysia</h1>
                    <p>Welcome to our monthly feature of fantastic tutorial results created by you, the Envato Tuts+ community! </p>
                </a>
                
                <div class="autor vertical-align">
                    <img class="avatar" src="https://cdn-images-1.medium.com/fit/c/40/40/1*1T1qxjpWS-0lWwVvPMzYSQ.jpeg" alt="Avatar" srcset="">
                    <p>Hoddie Allen</p>
                </div>

                <div class="info-interations"> 
                    <div class="vertical-align pull-right">
                        <div class="comments"><i class="fa fa-comment-o" aria-hidden="true">13</i></div>
                        <div class="like"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                    </div>
                    <div class="vertical-align">
                        <div class="publication_date"><i class="fa fa-calendar" aria-hidden="true"></i>Jul 21</div>
                    </div>
                </div>
                 
            </div>
            
        </div>
    </article>

    <article class="col-md-4 col-lg-3" data-id="1">
        <div class="item">

            <img class="thumb" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg" alt="Articulo" srcset="">
            
            <div class="item-info">
                <a href="/item-detail">
                    <h1>International Artist Feature: Malaysia</h1>
                    <p>Welcome to our monthly feature of fantastic tutorial results created by you, the Envato Tuts+ community! </p>
                </a>
                
                <div class="autor vertical-align">
                    <img class="avatar" src="https://cdn-images-1.medium.com/fit/c/40/40/1*1T1qxjpWS-0lWwVvPMzYSQ.jpeg" alt="Avatar" srcset="">
                    <p>Hoddie Allen</p>
                </div>

                <div class="info-interations"> 
                    <div class="vertical-align pull-right">
                        <div class="comments"><i class="fa fa-comment-o" aria-hidden="true">13</i></div>
                        <div class="like"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                    </div>
                    <div class="vertical-align">
                        <div class="publication_date"><i class="fa fa-calendar" aria-hidden="true"></i>Jul 21</div>
                    </div>
                </div>
                 
            </div>
            
        </div>
    </article>

    <article class="col-md-4 col-lg-3" data-id="1">
        <div class="item">

            <img class="thumb" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg" alt="Articulo" srcset="">
            
            <div class="item-info">
                <a href="/item-detail">
                    <h1>International Artist Feature: Malaysia</h1>
                    <p>Welcome to our monthly feature of fantastic tutorial results created by you, the Envato Tuts+ community! </p>
                </a>
                
                <div class="autor vertical-align">
                    <img class="avatar" src="https://cdn-images-1.medium.com/fit/c/40/40/1*1T1qxjpWS-0lWwVvPMzYSQ.jpeg" alt="Avatar" srcset="">
                    <p>Hoddie Allen</p>
                </div>

                <div class="info-interations"> 
                    <div class="vertical-align pull-right">
                        <div class="comments"><i class="fa fa-comment-o" aria-hidden="true">13</i></div>
                        <div class="like"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                    </div>
                    <div class="vertical-align">
                        <div class="publication_date"><i class="fa fa-calendar" aria-hidden="true"></i>Jul 21</div>
                    </div>
                </div>
                 
            </div>
            
        </div>
    </article>

    <article class="col-md-4 col-lg-3" data-id="1">
        <div class="item">

            <img class="thumb" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg" alt="Articulo" srcset="">
            
            <div class="item-info">
                <a href="/item-detail">
                    <h1>International Artist Feature: Malaysia</h1>
                    <p>Welcome to our monthly feature of fantastic tutorial results created by you, the Envato Tuts+ community! </p>
                </a>
                
                <div class="autor vertical-align">
                    <img class="avatar" src="https://cdn-images-1.medium.com/fit/c/40/40/1*1T1qxjpWS-0lWwVvPMzYSQ.jpeg" alt="Avatar" srcset="">
                    <p>Hoddie Allen</p>
                </div>

                <div class="info-interations"> 
                    <div class="vertical-align pull-right">
                        <div class="comments"><i class="fa fa-comment-o" aria-hidden="true">13</i></div>
                        <div class="like"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                    </div>
                    <div class="vertical-align">
                        <div class="publication_date"><i class="fa fa-calendar" aria-hidden="true"></i>Jul 21</div>
                    </div>
                </div>
                 
            </div>
            
        </div>
    </article>

    <article class="col-md-4 col-lg-3" data-id="1">
        <div class="item">

            <img class="thumb" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg" alt="Articulo" srcset="">
            
            <div class="item-info">
                <a href="/item-detail">
                    <h1>International Artist Feature: Malaysia</h1>
                    <p>Welcome to our monthly feature of fantastic tutorial results created by you, the Envato Tuts+ community! </p>
                </a>
                
                <div class="autor vertical-align">
                    <img class="avatar" src="https://cdn-images-1.medium.com/fit/c/40/40/1*1T1qxjpWS-0lWwVvPMzYSQ.jpeg" alt="Avatar" srcset="">
                    <p>Hoddie Allen</p>
                </div>

                <div class="info-interations"> 
                    <div class="vertical-align pull-right">
                        <div class="comments"><i class="fa fa-comment-o" aria-hidden="true">13</i></div>
                        <div class="like"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                    </div>
                    <div class="vertical-align">
                        <div class="publication_date"><i class="fa fa-calendar" aria-hidden="true"></i>Jul 21</div>
                    </div>
                </div>
                 
            </div>
            
        </div>
    </article>

</section>
</div>