//Base color
$color-gold: #CFA03C;
$color-main: #FFFFFF;
$color-text: #4C4C4C;

//footer
$color-footer-background: #F8EDC2;
$color-footer-border: #C18907;
$color-footer-text: #4C4C4C;

//Screen type
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;

//listitem
$color-border-item: #cccccc;

//article

$color-category: #C18907;
$color-like: #FF4136;
$color-shadow: #000;

//comment
$color-separator: #ddd;

//video
$color-bg-video: #000;



