//Base color
$color-gold: #CFA03C;
$color-main: #FFFFFF;
$color-footer-background: #F8EDC2;
$color-footer-border: #C18907;
$color-footer-text: #4C4C4C;

//Screen type
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


